<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Framework Micro-blog</title>

	<link rel="stylesheet" href="{$basePath}/css/style.css">
</head>

<body>
	<ul class="navig">
		<li><a n:href="Homepage:">Homepage</a></li>
		{block navig}{/block}
		{if $user->loggedIn}
			<li><a n:href="Sign:out">Sign out</a></li>
		{else}
			<li><a n:href="Sign:in">Sign in</a></li>
		{/if}
	</ul>

	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
